

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-site-verification" content="nNQog3K5pYykJ6F2Mrx9brHdukyd2Hqe5HcLn-eILtY" />
   
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}AceMarlineTech{% endblock %}</title>

    <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
 
<link rel="stylesheet" href="{% static 'css/blog.css' %}">


<!--      favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">
<!-- map -->
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
      
         <!-- Latest compiled and minified JavaScript -->
 <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      
      
<script type="text/javascript" src="https://maps.google.com/maps/api/js?AIzaSyDZ1reQ0k8YlQEh6-j9RvPUg5YtSkVtdOc&sensor=false&language=en"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/axgmap.js' %}"></script>
     
  <script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>     
 
   {% block extra_head %}
      
       <style>
           .post_photo { max-width: 300px;
                         max-height: 300px;
                       }
       </style>
   {% endblock %}  
  </head>
  <body id="page-top">
      
      <nav role="navigation" class="navbar  navbar-default fixed-top">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a href="#" class="navbar-brand"> ACEMARINETECH </a> </div>
          
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a id="" href="#about">ABOUT</a></li>
<!--      <li><a id="" href="#product">PRODUCTS</a></li>-->
      <li><a id="" href="#blog">BLOG</a></li>
      <li><a id="" href="#contact">CONTACT</a></li>
    </ul>
  </div>
</nav>
      
   
    

   
<div class="container">
   

    
  <div id="main">
    
         
         
          <div class="row">
              <div class="col-md-12 intro text-center" >
                  <img class="img-responsive" src="{% static 'images/head3.png' %}" width="550px" alt="" 
                  style="margin: 0 auto;">
                   <h2 class="" >Make yours on the water more enjoyable<br> </h2>
               
               </div>
          </div>
          
          <section id="about">
          <div class="row">
          
               <div class="col-md-12"><div class="well">
                   <h2>ABOUT US</h2></div></div>
          </div>


          <div class="row">
             <div class="col-lg-6 col-sm-6"><div class="">
              <p>Our company, specialized in outboards, is adjacent to Busan, a world-class marine tourism city. So we can play a big role in the maritime industry.
              <br> <br>
              Honesty and sincerity, product quality and price competitiveness equally, we pursue customer satisfaction for various needs of each customer. <br> <br>
              We are always doing our best and now we are selling high quality products of world famous brands in marine equipment field.
              <br> <br>
              Thank you for giving us the opportunity to serve you.
              </p>
                 
              </div>
                 
          <!--    <div class="res">
                   <img class="img-responsive" src="{% static 'images/logo-vectorpaint.svg' %}" width="30px" alt="" 
                  style="margin: 0 auto;">

<span>CEO</span>
<span><strong>HYE SOO KIM</strong></span>
                
</div> -->
                  <img class="img-responsive" src="{% static 'images/ceo2.jpg' %}" width="" alt="" 
                  style="margin: 0 auto;">
              </div>
              <!-- google map css는 blog.css -->
              <div class="col-lg-6 col-sm-6 map-responsive">
              <div class="axgmap" data-latlng="35.871435, 128.601445" data-zoom="7">
              <div data-latlng="35.179554, 129.075642" data-title="Busan" >
              <h4><a href="https://english.visitkorea.or.kr:1001/enu/SI/SI_EN_3_6.jsp?cid=259290" style="text-decoration:none"> Marine City,Busan</a></h4>
              <p><img src="http://www.korea.net/upload/content/editImage/20160304_Ma_16.jpg" width="195"></p>
    
             </div>
             <div data-latlng="35.228545, 128.889352" data-title="Where We Are" data-window-open="true">
             <h4>Where We Are</h4><p>#107, 1F GIMHAE BUSINESS CENTER</p>
             <p><img src="{% static 'images/20160203000163_0.jpg' %}" width="195"></p>
    
             </div>

           </div>
              </div>
          
          </div>
              
              </section>   
                         <!--          ends about-->
          
       <!--   <section id="product">
            <div class="row">
              <div class="col-md-12"><div class="well">
                    <h2>PRODUCTS</h2></div></div>
            
            
          </div>
           <div class="row">
              <div class="col-sm-offset-2 col-sm-4"><div class="">  <img src="{% static 'images/girl.png' %}" class="border" alt="image" width="300px" />
              </div></div>
              <div class="col-sm-4"><div class=""><p>POWER A MARK II™ --- using reliable and precise digital data transmission, this single or dual function control system is specifically designed to work on mechanically controlled as well as electronic and electro-hydraulic gas and diesel inboards, sterndrives and outboards.</p></div></div>
          
          </div>
              
          <div class="row sales">
              
              <div class="col-md-12 blank"></div>
                  
  <div class="col-md-3">  <figure class="figure">
            <img class="img-fluid img-thumbnail" src="{% static 'images/CONTROLSTATIONS.jpg' %}" alt="CONTROL STATIONS">
          <figcaption class="figure-caption ">Control stations

</figcaption>
               </figure>  
             </div>
  <div class="col-md-3"> 
      <figure class="figure">
            <img class="img-fluid img-thumbnail" src="{% static 'images/controlunit.jpg' %}" alt="CONTROL UNIT">
         <figcaption class="figure-caption ">Control unit

</figcaption>
 </figure>  
             </div>
  <div class="col-md-3">
     <figure class="figure">
            <img class="img-fluid img-thumbnail" src="{% static 'images/E-TROLLER.jpg' %}" alt="E-TROLL ELECTRONIC">
               <figcaption class="figure-caption ">E-TROLL electronic
</figcaption>
 </figure> 
</div>
  <div class="col-md-3"><figure class="figure">
            <img class="img-fluid img-thumbnail" src="{% static 'images/MACTUATOR.jpg' %}" alt="M-ACTUATOR">
         <figcaption class="figure-caption ">M-Actuator
</figcaption>
</figure>
</div>
</div>  
              
    
  </section> -->
          
                  <!--          ends product-->
          <section id="blog">
  <div class="row">
              <div class="col-md-12"><div class="well">
                   <h2> PRODUCTS &amp; SERVICES </h2></div></div>
             
            
          </div>  
            <div class="row">
              <div class="col-md-12 post text-center"><div class="">
              
                  {% block content %}
                  {% endblock %}
              </div>
                </div>
            
          </div>     
          </section>
                  <!--          ends blog-->
   </div>
    </div>

  

 <!-- Footer -->
    <footer class="footer ">
      <div class="container">
        <div class="row " id="contact">
          <div class=" col-md-offset-2 col-md-6 sales ">
               <h4 class="text-uppercase mb-4">contact us</h4>
               <form class="form-horizontal" role="form" method="post"  action="https://formspree.io/ds5eis2@gmail.com">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="message" class="col-sm-2 control-label">Message</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="4" name="message"></textarea>
		</div>
  </div>
	
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<! Will be used to display an alert to the user>
		</div>
	</div>
</form>
           
          </div>
      
          <div class="col-md-4" >
              
        
    <h4 class="text-uppercase mb-4">Location</h4>
            <h5 >80-16, Golden root-ro, <br>Juchon-myeon, Gimhae-si,<br> Republic of Korea
              </h5>
            <p class="lead mb-0">
              
	<i class="fa fa-phone-square" aria-hidden="true"></i>

	<font color="">
        &nbsp; &nbsp; <small>+82-70-8621-3464 </small></font>
                                  </p>
           
  
 <p class="lead mb-0"> <i class="fas fa-comment-dots" aria-hidden="true"></i> 
     <font color="">
&nbsp; &nbsp; <small>+82-10-3867-9902 </small></font>
              </p>
<p class="lead mb-0"><a  href="#page-top"> <i class="fa fa-globe" aria-hidden="true"></i>
    &nbsp; &nbsp;<small> www.acemarinetech.com </small></a></p>
      <h4 class="text-uppercase mb-4">Around the Web</h4>
           <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<!--<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_kakao"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->        
             
       </div>
  
     </div>
      </div>
    </footer>
      
<div class="copyright py-4 text-center">
      <div class="container">

           <adress>Copyright &copy; <a  href="#page-top" style="color: #18BC9C">ACE MarineTech </a>2017</adress>
      </div>
    </div>
  
     <script>
    // sandbox disable popups
    if (window.self !== window.top && window.name!="view1") {;
      window.alert = function(){/*disable alert*/};
      window.confirm = function(){/*disable confirm*/};
      window.prompt = function(){/*disable prompt*/};
      window.open = function(){/*disable open*/};
    }
    
    // prevent href=# click jump
    document.addEventListener("DOMContentLoaded", function() {
      var links = document.getElementsByTagName("A");
      for(var i=0; i < links.length; i++) {
        if(links[i].href.indexOf('#')!=-1) {
          links[i].addEventListener("click", function(e) {
          console.debug("prevent href=# click");
              if (this.hash) {
                if (this.hash=="#") {
                  e.preventDefault();
                  return false;
                }
                else {
                  /*
                  var el = document.getElementById(this.hash.replace(/#/, ""));
                  if (el) {
                    el.scrollIntoView(true);
                  }
                  */
                }
              }
              return false;
          })
        }
      }
    }, false);
  </script>

   
  </body>
</html>